.header {
    font-family: albas;
    src: url(ALBAS___.TTF);
    margin-top: 20px;
    margin-left: 300px;
    background-color: rgba(17, 90, 17, 0.74);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
body{ 
    background-image: url(pictures/pexels-steve-johnson-1509534.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
}

.left-selector {
    background-color: rgba(255, 255, 255, 0.466);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
}

.size{
    margin: 10px;
}
.black {
    margin: 10px;
}
.random{
    margin: 10px;
}
.clear {
    margin: 10px;
}

.right-board {
    background-color: white;
    margin-top: 50px;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}