body{ 
    background-image: url(pictures/pexels-steve-johnson-1509534.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px;
    margin: 50px;
    
}

.left-selector {
    background-color: rgba(255, 255, 255, 0.466);
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
}

.size{
    margin: 10px;
}
.black {
    margin: 10px;
}
.random{
    margin: 10px;
}
.clear {
    margin: 10px;
}

.right-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: albas;
    src: url(ALBAS___.TTF);
    color: white;
    text-decoration: underline;
    font-size: 50px;
}
.board {
    background-color: white;
    margin-top: 25px;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}